In [1]:
import pandas as pd
import numpy as np

In [2]:
colnames = ['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities',
           'peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension',
            'nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination','abdomen','packed cell volume',
            'total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','first number is site of lesion',
            'second number is type','third number is subtype','fourth number is specific code','is pathology data present for this case?'
           ]
df = pd.read_csv('horse_data.csv', names = colnames, header = None, na_values = '?')
df
#заменила пропуски данных ? на NaN

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,first number is site of lesion,second number is type,third number is subtype,fourth number is specific code,is pathology data present for this case?
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,8.4,NaN,NaN,2.0,2,11300,0,0,2,NaN
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,85.0,2.0,2.0,3.0,2,2208,0,0,2,NaN
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,6.7,NaN,NaN,1.0,2,0,0,0,1,NaN
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,7.2,3.0,5.3,2.0,1,2208,0,0,1,NaN
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,7.4,NaN,NaN,2.0,2,4300,0,0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,65.0,NaN,NaN,3.0,2,3205,0,0,2,NaN
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,NaN,3.0,3.3,3.0,1,2208,0,0,1,NaN
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,6.8,NaN,NaN,2.0,1,3205,0,0,2,NaN
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,6.0,3.0,3.4,1.0,1,2208,0,0,1,NaN
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,62.0,1.0,1.0,3.0,2,6112,0,0,2,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 29 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   surgery?                                  299 non-null    float64
 1   Age                                       300 non-null    int64
 2   Hospital Number                           300 non-null    int64
 3   rectal temperature                        240 non-null    float64
 4   pulse                                     276 non-null    float64
 5   respiratory rate                          242 non-null    float64
 6   temperature of extremities                244 non-null    float64
 7   peripheral pulse                          231 non-null    float64
 8   mucous membranes                          253 non-null    float64
 9   capillary refill time                     268 non-null    float64
 10  pain                                      245 non-null    float64
 11  peristalsis                               256 non-null    float64
 12  abdominal distension                      244 non-null    float64
 13  nasogastric tube                          196 non-null    float64
 14  nasogastric reflux                        194 non-null    float64
 15  nasogastric reflux PH                     53 non-null     float64
 16  rectal examination                        198 non-null    float64
 17  abdomen                                   182 non-null    float64
 18  packed cell volume                        271 non-null    float64
 19  total protein                             267 non-null    float64
 20  abdominocentesis appearance               135 non-null    float64
 21  abdomcentesis total protein               102 non-null    float64
 22  outcome                                   299 non-null    float64
 23  surgical lesion?                          300 non-null    int64
 24  first number is site of lesion            300 non-null    int64
 25  second number is type                     300 non-null    int64
 26  third number is subtype                   300 non-null    int64
 27  fourth number is specific code            300 non-null    int64
 28  is pathology data present for this case?  0 non-null      float64
dtypes: float64(22), int64(7)
memory usage: 68.1 KB

In [4]:
#отбирвем нужные колонки
df8 = df.drop(['Hospital Number', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'peristalsis',
        'abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination',
        'abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein',
        'surgical lesion?','first number is site of lesion','second number is type','third number is subtype',
         'fourth number is specific code','is pathology data present for this case?'], axis = 1)
df8

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [5]:
df8.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [6]:
#Мода
print('Значение моды: ', df['surgery?'].round().mode()[0])

Значение моды:  1.0

In [7]:
print('Значение моды: ', df['Age'].round().mode()[0])

Значение моды:  1

In [8]:
print('Значение моды: ', df['rectal temperature'].round().mode()[0])

Значение моды:  38.0

In [9]:
print('Значение моды: ', df['pulse'].round().mode()[0])

Значение моды:  48.0

In [10]:
print('Значение моды: ', df['respiratory rate'].round().mode()[0])

Значение моды:  20.0

In [11]:
print('Значение моды: ', df['temperature of extremities'].round().mode()[0])

Значение моды:  3.0

In [12]:
print('Значение моды: ', df['pain'].round().mode()[0])

Значение моды:  3.0

In [13]:
print('Значение моды: ', df['outcome'].round().mode()[0])

Значение моды:  1.0

In [14]:
#медиана
print(df['surgery?'].median())

1.0

In [15]:
print(df['Age'].median())

1.0

In [16]:
print(df['rectal temperature'].median())

38.2

In [17]:
print(df['pulse'].median())

64.0

In [18]:
print(df['respiratory rate'].median())

24.5

In [19]:
print(df['temperature of extremities'].median())

3.0

In [20]:
print(df['pain'].median())

3.0

In [21]:
print(df['outcome'].median())

1.0

In [ ]:
#def moda(column):
    #moda = df8[column].round().mode()[0]
    #return moda

#for column in df8:
    #display(moda(column))

In [22]:
#считаем выбросы для каждой колокни
def vibros(column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = df8[df8[column].between(lower_bound, upper_bound, inclusive=True)].sort_values(column)
    vibrosy = pd.concat([df8, remove_outliers]).drop_duplicates(keep=False)
    return vibrosy

In [23]:
for column in df8:
    display(vibros(column))

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
90,2.0,1,38.0,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
121,1.0,1,38.3,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
149,2.0,1,38.7,48.0,24.0,NaN,1.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
210,1.0,1,37.9,68.0,20.0,NaN,2.0,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
239,1.0,1,38.1,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
263,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
289,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
157,1.0,1,37.8,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
170,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
243,1.0,1,38.4,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.7,96.0,28.0,3.0,NaN,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [24]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [ ]:
#Заполнение пропусков
#в каждом столбце пропусков небольшое количество, не будем ничего удалять,заполним все пропуски модой

In [25]:
#заполнение столбца surgery?. есть 1 пропуск в данном столбце. проанализировав остальные параметры по данной лошади, 
#можно предположить,что ей не делали операцию и заполнить пропуск модой

df8['surgery?'].value_counts()

1.0    180
2.0    119
Name: surgery?, dtype: int64

In [26]:
df8['surgery?'].fillna(df8['surgery?'].mode()[0], inplace=True)

df8['surgery?'].value_counts()

1.0    181
2.0    119
Name: surgery?, dtype: int64

In [ ]:
#во 2 столбце пропусков нет,есть только выбросы. ничего не делаем

In [35]:
# 3 столбец

df8['rectal temperature'].fillna(df8['rectal temperature'].mode()[0], inplace=True)

In [37]:
# 4 столбец
df8['pulse'].fillna(df8['pulse'].mode()[0], inplace=True)

In [39]:
# 5 стоблец
df8['respiratory rate'].fillna(df8['respiratory rate'].mode()[0], inplace=True)

In [40]:
# 6 столбец
df8['temperature of extremities'].fillna(df8['temperature of extremities'].mode()[0], inplace=True)

In [41]:
# 7 столбец
df8['pain'].fillna(df8['pain'].mode()[0], inplace=True)

In [42]:
# 8 столбец
df8['outcome'].fillna(df8['outcome'].mode()[0], inplace=True)

In [43]:
#статистика по датафрему
df8.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.396667,1.640000,38.134333,70.000000,28.403333,2.470000,2.960000,1.550000
std,0.490023,2.173972,0.658153,28.215961,16.366230,0.975845,1.181689,0.736642
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.000000,60.000000,22.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,34.250000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [44]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory rate            300 non-null    float64
 5   temperature of extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB